#loader {
	border-radius: 50%;
	height: 400px;
	width: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -200px;
	margin-top: -200px;
}

.clock {
	span {
		display: block;
	}
	h1 {
		color: #D4AF37;
	}
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -40%;
	margin-top: -200px;
	width: 80%;
	height: 400px;
	text-align: center;
	font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace; 
	background: #D3D3D3;
	
	.label {
		color: #FFF;
	}
	.numBox {
		width: 20%;
    height: 120px;
		display: inline-block;
		padding: 2% 2% 0;
		border-right: solid thin #32CD32;


		.num {
			width: 100%;
			height: 100%;
			.top-container {
				h1 {
	        margin-top: -23px;
				}
				border-top-left-radius: 20px;
				border-top-right-radius: 20px;
				perspective: 200px;
				margin-bottom: 2px;
			}
			.bottom-container {
				h1 {
					transition: all 500ms linear;
					&.show {
						visibility: visible;
					}
					&.hide {
						visibility: hidden;
					}
			    margin-top: -86px;
				}
				border-bottom-left-radius: 20px;
				border-bottom-right-radius: 20px;
				perspective: 1000px;
			}
			.top-container, .bottom-container {
				h1 {
					font-weight: 300;
				}
				color: #D4AF37;
				font-size: 67px;
				font-weight: bold;
				text-align: center;
				position: relative;
				background: #333;
				height: 50%;
				overflow: hidden;
				.top, .bottom {
					background: #333;
					color: #CCC;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					transform-style: preserve-3d;
				}

				.top {
					height: 150px;
					&.flip {
						animation: flipper 0.5s linear both;
						@keyframes flipper {
							0% {
								// background: #333;
								transform: rotateX(0deg);
							}
							100% {
								// background: linear-gradient(to bottom, rgba(51,51,51,1) 20%, rgba(55,55,55,1) 100%);
								transform: rotateX(-90deg);
							}
						}
					}
				}
				.bottom {
					h1 {
						position: absolute;
	
						top: -11px;
						margin-top: 0;
						width: 100%;
						height: 100%;
					}
					h1:first-child {
						z-index: 2;
					}
			    margin-top: -75px;
			    &.flip {
						animation: flipperBottom 0.5s linear both;
						@keyframes flipperBottom {
							0% {
								// background: linear-gradient(to bottom, rgba(235,235,235,0.5) 10%, #333 100%);
								transform: rotateX(90deg);
							}
							100% {
								// background: #333;
								transform: rotateX(0deg);
							}
						}
			    }
				}
			}
		}


	}
	div:last-child {
		border-right: none;
	}
}