.clock {
	span {
		display: block;
	}
	h1 {
		color: #D4AF37;
	}
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -25%;
	margin-top: -200px;
	width: 50%;
	height: 400px;
	text-align: center;
	font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace; 

	.numBox {
		width: 20%;
    height: 120px;
		display: inline-block;
		padding: 2% 2% 0;
		font-size: 30px;
		font-weight: bold;
		color: #D4AF37;
		border-right: solid thin #32CD32;
		perspective: 1000px;
		.num {
			position: relative;
			width: 100%;
			height: 100%;
			.day, .hour, .min, .sec, .forever-time {
				position: absolute;
				font-size: 70px;
				padding-top: 12%;
				background-color: #A9A9A9;
			  transform-style: preserve-3d;
			  &.first-digit {
			  	width: 49%;
			  	left: 0;
			  	margin-right: 1%;
			  }
			  &.second-digit {
			  	width: 49%;
			  	right: 0;
			  	margin-left: 1%;
			  }
				&.back {
					opacity: 1;
					animation: flipper 1000ms ease-in-out 500ms infinite;
					// transform: rotateX(180deg);
					// backface-visibility: hidden;
				}
				@keyframes flipper {
					100% {
						transform: rotateX(-91deg);
						opacity: 0;
						// backface-visibility: hidden;
					}
				}
			}
		}
	}
	div:last-child {
		border-right: none;
	}
}